/*****************************
 BARtab pipeline configuration
 *****************************/
manifest {
  name = 'DaneVass/BARtab'
  author = 'Dane Vassiliadis'
  homePage = 'www.github.com/DaneVass'
  description = 'A Nextflow pipeline to tabulate synthetic barcode counts from NGS data.'
  mainScript = 'BARtab.nf'
  version = '1.0.0'
}

// Default pipeline params
params {
  indir = "test/dat/test_SE"
  outdir = "test/test_out"
  ref = "test/ref/mCHERRY_barcode_reference_library.fasta"
  threads = 8
  help = false
  upconstant = "CGATTGACTA" // SPLINTR 1st gen upstream constant region
  downconstant = "TGCTAATGCG" // SPLINTR 1st gen downstream constant region
  alnmismatches = 1
  merge = false
  minqual = 20
  pctqual = 80
  constants = "up"
  constantmismatches = 0.1
  email = ""
  mode = "single-bulk"
  cellnumber = 5000

}

executor {
  queueSize = 100
  submitRateLimit = '10 sec'
}

profiles {
  slurm { includeConfig 'config/slurm.config' }

  docker {
    docker.enabled = true
    process.container = "bartab-1.0"
  }

  singularity {
    singularity.enabled = true
    singularity.autoMounts = true
    process.container = "docker://bartab-1.0"
  }
    
}

// Capture exit codes from upstream processes when piping
process.shell = ['/bin/bash', '-euo', 'pipefail']
// process.container = "bartab-1.0"

timeline {
  enabled = true
  file = "$params.outdir/timeline.html"
}

report {
  enabled = true
  file = "$params.outdir/report.html"
}


