/*
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Config file for defining DSL2 per module options and publishing paths
~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~
    Available keys to override module options:
        ext.args   = Additional arguments appended to command in module.
        ext.args2  = Second set of arguments appended to command in module (multi-tool modules).
        ext.args3  = Third set of arguments appended to command in module (multi-tool modules).
        ext.prefix = File name prefix for output files.
----------------------------------------------------------------------------------------
*/


process {

    withName: BAM_TO_FASTQ {
        publishDir = [
            path: "${params.outdir}/fastq/",
            mode: "symlink",
        ]
    }
    withName: BOWTIE_ALIGN {
        publishDir = [
            [
                path: "${params.outdir}/mapped_reads/",
                mode: "symlink",
                pattern: "*.sam"
            ],
            [
                path: "${params.outdir}/mapped_reads/unmapped/",
                mode: "symlink",
                pattern: "*.fastq.gz"
            ],
            [
                path: "${params.outdir}/mapped_reads/logs/",
                mode: "copy",
                pattern: "*.log"
            ]
        ]
    }
    
    withName: BUILD_BOWTIE_INDEX {
        publishDir = [
            path: "${params.outdir}/reference_index/",
            mode: "copy"
        ]
    }
    
    withName: COMBINE_BARCODE_COUNTS {
        publishDir = [
            path: "${params.outdir}/counts/",
            mode: "copy"
        ]
    }

    withName: COUNT_BARCODES_SAM {
        publishDir = [
            path: "${params.outdir}/counts/",
            mode: "copy"
        ]
    }

    withName: CUTADAPT_READS {
        publishDir = [
            [
                path: "${params.outdir}/trimmed_reads/",
                mode: "symlink",
                pattern: "*.trimmed.fastq.gz"
            ],
            [
                path: "${params.outdir}/trimmed_reads/logs/",
                mode: "copy",
                pattern: "*.log"
            ]
        ]
    }

    withName: FASTQC {
        publishDir = [
            [
                path: "${params.outdir}/reports/fastqc/",
                mode: "copy",
                pattern: "*.html"
            ],
            [
                path: "${params.outdir}/reports/fastqc/zips/",
                mode: "copy",
                pattern: "*.zip"
            ]
        ]
    }

    withName: FILTER_ALIGNMENTS {
        publishDir = [
            path: "${params.outdir}/mapped_reads/",
            mode: "symlink"
        ]
    }

    withName: FILTER_READS {
        publishDir = [
            [
                path: "${params.outdir}/filtered_reads/",
                mode: "symlink",
                pattern: "*.fastq.gz"
            ],
            [
                path: "${params.outdir}/filtered_reads/logs/",
                mode: "copy",
                pattern: "*.{log,json,html}"
            ]
        ]
    }

    withName: GET_BARCODE_COUNTS {
        publishDir = [
            path: "${params.outdir}/counts/",
            mode: "copy"
        ]
    }

    withName: MERGE_READS {
        publishDir = [
            [   
                path: "${params.outdir}/merged_reads/",
                mode: "symlink",
                pattern: "*extendedFrags.fastq.gz"
            ],
            [   
                path: "${params.outdir}/merged_reads/unmerged/",
                mode: "symlink",
                pattern: "*notCombined_*.fastq.gz"
            ],
            [   
                path: "${params.outdir}/merged_reads/logs/",
                mode: "copy",
                pattern: "*log"
            ],
            [   
                path: "${params.outdir}/merged_reads/logs/",
                mode: "symlink",
                pattern: "*{hist,histogram}"
            ]
        ]
    }

    withName: MULTIQC {
        publishDir = [
            path: "${params.outdir}/reports/multiqc/",
            mode: "copy",
            overwrite: "true"
        ]
    }

    withName: PARSE_BARCODES_SC {
        publishDir = [
            [
                path: "${params.outdir}/counts/",
                pattern: "*_cell_barcode_annotation.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/counts/qc/",
                pattern: "*{.pdf,avg_sequence_length.tsv}",
                mode: "copy"
            ]
        ]
    }

    withName: RENAME_READS_SAW {
        publishDir = [
            path: "${params.outdir}/trimmed_reads/renamed/",
            mode: "symlink"
        ]
    }

    withName: RENAME_READS_BAM {
        publishDir = [
            path: "${params.outdir}/mapped_reads/renamed/",
            mode: "symlink"
        ]
    }

    withName: SAMTOOLS {
        publishDir = [
            path: "${params.outdir}/mapped_reads/indexed/",
            mode: "symlink"
        ]
    }

    withName: SOFTWARE_CHECK {
        publishDir = [
            path: "${params.outdir}/pipeline_info/",
            mode: "copy",
            overwrite: "true"
        ]
    }

    withName: STARCODE {
        publishDir = [
            [
                path: "${params.outdir}/starcode/",
                pattern: "*.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/starcode/logs/",
                pattern: "*.log",
                mode: "copy"
            ]
        ]
    }

    withName: STARCODE_UNMAPPED {
        publishDir = [
            [
                path: "${params.outdir}/counts/unmapped/",
                pattern: "*.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/counts/logs/",
                pattern: "*.log",
                mode: "copy"
            ]
        ]
    }

    withName: STARCODE_SC {
        publishDir = [
            [
                path: "${params.outdir}/starcode/",
                pattern: "*.tsv",
                mode: "symlink"
            ],
            [
                path: "${params.outdir}/starcode/logs/",
                pattern: "*.log",
                mode: "copy"
            ]
        ]
    }

    withName: STARCODE_SC_UNMAPPED {
        publishDir = [
            [
                path: "${params.outdir}/counts/unmapped/",
                pattern: "*.tsv",
                mode: "symlink"
            ],
            [
                path: "${params.outdir}/counts/logs/",
                pattern: "*.log",
                mode: "copy"
            ]
        ]
    }

    withName: REMOVE_PCR_CHIMERISM {
        publishDir = [
            [
                path: "${params.outdir}/counts/pcr_chimerism/",
                pattern: "*tsv",
                mode: "symlink"
            ],
            [
                path: "${params.outdir}/counts/logs/",
                pattern: "*log",
                mode: "copy"
            ],
        ]
    }

    withName: UMITOOLS_COUNT {
        publishDir = [
            [
                path: "${params.outdir}/counts/umitools/",
                pattern: "*_umi_demultiplexed.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/counts/",
                pattern: "*counts.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/counts/logs/",
                pattern: "*log",
                mode: "copy"
            ]
        ]
    }
    withName: UMITOOLS_COUNT_UNMAPPED {
        publishDir = [
            [
                path: "${params.outdir}/counts/unmapped/umitools/",
                pattern: "*_umi_demultiplexed.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/counts/unmapped/",
                pattern: "*counts.tsv",
                mode: "copy"
            ],
            [
                path: "${params.outdir}/counts/logs/",
                pattern: "*log",
                mode: "copy"
            ]
        ]
    }

    withName: UMITOOLS_EXTRACT {
        publishDir = [
            [
                path: "${params.outdir}/umitools/extract/",
                pattern: "*fastq",
                mode: "symlink"
            ],
            [
                path: "${params.outdir}/umitools/extract/logs/",
                pattern: "*.log",
                mode: "copy"
            ]
        ]
    }

    withName: UMITOOLS_WHITELIST {
        publishDir = [
            [
                path: "${params.outdir}/umitools/whitelist/",
                pattern: "*tsv",
                mode: "symlink"
            ],
            [
                path: "${params.outdir}/umitools/whitelist/logs/",
                pattern: "*.log",
                mode: "copy"
            ]
        ]
    }
}