/*
SLURM computing environment
*/

params {
  // default SPLINTR mCHERRY library locations
  index = "$PWD/test/ref/mCHERRY_barcode"
  ref = "$PWD/test/ref/mCHERRY_barcode_reference_library.fasta"
}

process {
  executor = 'slurm'
    
  // error strategy
  maxRetries = 1

  // basic resources
  cpus = 2
  time = 1.h
  memory = 4.GB
    
  // process-specific resources
  withLabel: process_low {
      cpus = 4
      memory = 12.GB
      time = 2.h
  }
    
  withLabel: process_medium {
      cpus = 8
      memory = 64.GB
      time = 10.h
  }

  withLabel: process_high {
      cpus = 16
      memory = 200.GB
      time = 12.h
  }
    
}
