params {
    config_profile_name        = "Test single-cell profile with fastq input from SAW pipeline"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input from SAW pipeline"
    indir                      = "$baseDir/test/dat/test_sc_fastq_saw"
    input_type                 = "fastq"
    pipeline                   = "saw"
    ref                        = "/dawson_genomics/Projects/BGI_spatial/raw_data/splintr_reference/GFP_barcode_reference_library.fasta"
    mode                       = "single-cell"
    outdir                     = "$baseDir/test/test_out/sc_fastq_saw/"
    max_cpus                   = 20
    upconstant                 = "TGAC"
    downconstant               = "TACT"
    constant_mismatches        = 0.2
    alnmismatches              = 3
    min_readlength             = 5
    max_memory                 = "64.GB"
    max_time                   = "2.h"
}