params {
    config_profile_name        = "Test single-cell and cluster unmapped profile"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input and cluster unmapped"

    indir                      = "$baseDir/test/dat/test_sc_amplicon"
    ref                        = "$baseDir/test/ref/test.ref.fasta"
    mode                       = "single-cell"
    constants                  = "up"
    barcode_length             = 60
    min_readlength             = 41
    cluster_unmapped           = true
    cluster_distance           = 5
    cluster_ratio              = 3
    cellnumber                 = 5000
    outdir                     = "$baseDir/test/test_out/sc_cluster_unmapped/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}