params {
    config_profile_name        = "Test single-cell profile"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input"

    input                      = "$baseDir/test/samplesheets/single-cell-fastq.csv"
    mode                       = "single-cell"
    outdir                     = "$baseDir/test/test_out/sc/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}