params {
    config_profile_name        = "Test reference-free single-end bulk profile"
    config_profile_description = "Minimal test dataset to check reference-free single-end bulk workflow"

    indir                      = "$baseDir/test/dat/test_SE"
    mode                       = "single-bulk"
    outdir                     = "$baseDir/test/test_out/single_end_ref_free/"
    threads                    = 8
}