params {
    config_profile_name        = "Test single-cell profile with BAM input"
    config_profile_description = "Minimal test dataset to check single-cell workflow with BAM input"

    bam                        = "$baseDir/test/dat/test_sc_bam/JK05_T0_unmapped_unmapped_reads.bam"
    ref                        = "$baseDir/test/ref/SPLINTR_mCHERRY_V2_barcode_reference_library.fasta"
    mode                       = "single-cell"
    outdir                     = "$baseDir/test/test_out/sc_bam/"
    threads                    = 8
}