params {
    config_profile_name        = "Test single-cell profile with BAM input"
    config_profile_description = "Minimal test dataset to check single-cell workflow with BAM input"
    indir                      = "$baseDir/test/dat/test_sc_bam"
    input_type                 = "bam"
    ref                        = "$baseDir/test/ref/test.ref.fasta"
    mode                       = "single-cell"
    constants                  = "all"
    barcode_length             = 60
    outdir                     = "$baseDir/test/test_out/sc_bam/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}