params {
    config_profile_name        = "Test paired-end bulk profile"
    config_profile_description = "Minimal test dataset to check paired-end bulk workflow"

    indir                      = "$baseDir/test/dat/test_PE"
    ref                        = "$baseDir/test/ref/SPLINTR_mCHERRY_V2_barcode_reference_library.fasta"
    mode                       = "paired-bulk"
    outdir                     = "$baseDir/test/test_out/paired_end/"
    threads                    = 8
}