params {
    config_profile_name        = "Test single-cell profile"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input"

    indir                      = "$baseDir/test/dat/test_sc"
    ref                        = "$baseDir/test/ref/SPLINTR_mCHERRY_V2_barcode_reference_library.fasta"
    mode                       = "single-cell"
    constants                  = "up"
    barcode_length             = 60
    cellnumber                 = 5000
    outdir                     = "$baseDir/test/test_out/sc/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}