params {
    config_profile_name        = "Test paired-end bulk profile"
    config_profile_description = "Minimal test dataset to check paired-end bulk workflow"

    indir                      = "$baseDir/test/dat/test_PE"
    ref                        = "$baseDir/test/ref/SPLINTR_mCHERRY_V2_barcode_reference_library.fasta"
    mode                       = "paired-bulk"
    barcode_length             = 60
    constants                  = "both"
    outdir                     = "$baseDir/test/test_out/paired_end/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}