params {
    config_profile_name        = "Test single-cell reference-free profile"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input"

    indir                      = "$baseDir/test/dat/test_sc"
    mode                       = "single-cell"
    constants                  = "up"
    barcode_length             = 41
    min_readlength             = 41
    cellnumber                 = 5000
    outdir                     = "$baseDir/test/test_out/sc_ref_free/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}