params {
    config_profile_name        = "Test single-cell profile with BAM input"
    config_profile_description = "Minimal test dataset to check single-cell workflow with BAM input"

    input                      = "$baseDir/test/samplesheets/single-cell-bam.csv"
    input_type                 = "bam"
    mode                       = "single-cell"
    outdir                     = "$baseDir/test/test_out/sc_bam/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}