params {
    config_profile_name        = "Test single-cell profile with fastq input from SAW pipeline"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input from SAW pipeline"
    indir                      = "$baseDir/test/dat/test_sc_fastq_saw"
    input_type                 = "fastq"
    pipeline                   = "saw"
    ref                        = "$baseDir/test/ref/test.ref.fasta"
    mode                       = "single-cell"
    constants                  = "all"
    outdir                     = "$baseDir/test/test_out/sc_fastq_saw/"
    max_cpus                   = 20
    barcode_length             = 60
    constant_mismatches        = 0.2
    alnmismatches              = 2
    min_readlength             = 20
    max_memory                 = "12.GB"
    max_time                   = "2.h"
    max_cpus                   = 4
}