params {
    config_profile_name        = "Test single-end bulk profile"
    config_profile_description = "Minimal test dataset to check single-end bulk workflow"

    indir                      = "$baseDir/test/dat/test_SE"
    ref                        = "$baseDir/test/ref/SPLINTR_mCHERRY_V2_barcode_reference_library.fasta"
    mode                       = "single-bulk"
    barcode_length             = 60
    cluster_unmapped           = "True"
    outdir                     = "$baseDir/test/test_out/single_end/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}