params {
    config_profile_name        = "Test reference-free single-end bulk profile"
    config_profile_description = "Minimal test dataset to check reference-free single-end bulk workflow"

    input                      = "$baseDir/test/samplesheets/single-bulk.csv"
    mode                       = "single-bulk"
    reference                  = false
    outdir                     = "$baseDir/test/test_out/single_end_ref_free/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}