params {
    config_profile_name        = "Test reference-free single-end bulk profile"
    config_profile_description = "Minimal test dataset to check reference-free single-end bulk workflow"

    indir                      = "$baseDir/test/dat/test_SE"
    mode                       = "single-bulk"
    constants                   = "up"
    barcode_length             = 48
    min_readlength             = 43
    outdir                     = "$baseDir/test/test_out/single_end_ref_free/"
    max_cpus                   = 6
    max_memory                 = "8.GB"
    max_time                   = "2.h"
}