/*
local computing environment
*/

params {
  indir = "test/dat"
  outdir = "test/test_out"
  index = "test/ref/mCHERRY_barcode"
  ref = "test/ref/mCHERRY_barcode_reference_library.fasta"
  threads = 2
  help = false
  upconstant = "CGATTGACTA" // SPLINTR 1st gen upstream constant region
  downconstant = "TGCTAATGCG" // SPLINTR 1st gen downstream constant region
  alnmismatches = 1
  merge = false
  minqual = 20
  pctqual = 100
  constants = "up"
  constantmismatches = 0.1
  email = ""
}

