/*
local computing environment
*/

params {
  indir = "test"
  outdir = "test_out"
  index = "/Users/vassiliadisdane/Dropbox/PostDoc_PeterMac/Projects/Barcoding_project/barcode_reference_libs/mCHERRY_reference_library/bowtie/mCHERRY_barcode"
  ref = "/Users/vassiliadisdane/Dropbox/PostDoc_PeterMac/Projects/Barcoding_project/barcode_reference_libs/mCHERRY_reference_library/mCHERRY_barcode_reference_library.fasta"
  threads = 2
  help = false
  upconstant = "CGATTGACTA" // SPLINTR 1st gen upstream constant region
  downconstant = "TGCTAATGCG" // SPLINTR 1st gen downstream constant region
  alnmismatches = 1
  merge = false
  minqual = 20
  pctqual = 100
  constants = "up"
  constantmismatches = 0.1
  email = ""
}

