/*
SLURM computing environment
*/

params {
  // default SPLINTR mCHERRY library locations
  index = "/dawson_genomics/Projects/Barcode/barcode_reference_libs/mCHERRY_reference_library/bowtie/mCHERRY_bowtie"
  ref = "/dawson_genomics/Projects/Barcode/barcode_reference_libs/mCHERRY_reference_library/mCHERRY-barcode-library_filtered_starcode_over1_truebc.fasta"
}

process {
    executor = 'slurm'
    //clusterOptions =  '-N 1 -n 16 -t 24:00:00'
    
    // error strategy
    maxRetries = 3

    // basic resources
    cpus = 2
    time = { 20.m * task.attempt }
    memory = { 8.GB * task.attempt }
    
    // process-specific resources
    $fastqc {
        memory = { 12.GB * task.attempt }
        cpus = 4
    }
    $merge_reads {
        memory = { 128.GB * task.attempt }
        cpus = 8
        time = { 10.h * task.attempt }
    }
    $gunzip_reads_PE {
        memory = { 12.GB * task.attempt }
        cpus = 4
        time = { 4.h * task.attempt }
    }
    $gunzip_reads_SE {
        memory = { 12.GB * task.attempt }
        cpus = 4
        time = { 4.h * task.attempt }
    }
    $filter_reads_PE {
        memory = { 64.GB * task.attempt }
        cpus = 8
        time = { 12.h * task.attempt }
    }
    $filter_reads_SE {
        memory = { 64.GB * task.attempt }
        cpus = 8
        time = { 12.h * task.attempt }
    }
    $cutadapt_reads {
        memory = { 64.GB * task.attempt }
        cpus = 8
        time = { 12.h * task.attempt }
    }
    $align_barcodes {
        memory = { 64.GB * task.attempt }
        cpus = 12
        time = { 12.h * task.attempt }
    }
    $get_barcode_counts {
        memory = { 12.GB * task.attempt }
        cpus = 4
        time = { 4.h * task.attempt }
    }
    $combine_barcode_counts {
        memory = { 12.GB * task.attempt }
        cpus = 4
        time = { 4.h * task.attempt }
    }
    
}
