params {
    config_profile_name        = "Test single-cell profile"
    config_profile_description = "Minimal test dataset to check single-cell workflow with fastq input"

    indir                      = "test/dat/test_sc"
    ref                        = "test/ref/SPLINTR_mCHERRY_V2_barcode_reference_library.fasta"
    mode                       = "single-cell"
    cellnumber                 = 20000
    outdir                     = "test/test_out/sc/"
    threads                    = 8
}